body, select, input, button, textarea {
    color: #333;
    font-family: "Montserrat",sans-serif;
}
body {
  max-width: 700px;
  margin: 20px auto;
}
circle {
  fill: gold;
  fill-opacity: 0;
  stroke: #ddd;
  stroke-width: 0.1px;
  mix-blend-mode: multiply;
  transition: fill-opacity 0.5s ease-out;
  &.active {
    fill-opacity: 0.6;
  }
}

h2, p {
  min-height: 32px;
  line-height:100%;
}